@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    icart_be.Models.Estabelecimento e = JsonConvert.DeserializeObject<icart_be.Models.Estabelecimento>
        (Context.Session.GetString("user").ToString());
}
@{
    ViewData["Title"] = "Perfil";
}

<head>
    <link rel="stylesheet" href="~/css/perfil.css">
    <link rel="stylesheet" href="~/css/index.css">
    <style>
        header {
            width: 100%;
            height: 70px;
            background-color: #A5CF20;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            margin-top: -150px;
        }
    </style>
</head>
<main>
    <div id="container-logo">
        <div id="logo">
            <p> @e. </p>
        </div>
    </div>
    <div class="dados">
        <p>Nome da empresa:</p>
        <p>@e.Nome_empresarial</p>
    </div>
    <div class="dados">
        <p>CNPJ:</p>
        <p>@e.Cnpj</p>
    </div>
    <div class="dados">
        <p>CEP:</p>
        <p>@e.Cep</p>
    </div>
    <div class="dados">
        <p>Plano:</p>
        <p>@e.Nome_empresarial</p>
    </div>
    <div class="dados">
        <p>Telefone:</p>
        <p>@e.Telefone</p>
    </div>
    <div class="dados">
        <p>Email:</p>
        <p>@e.Email</p>
    </div>
    <div class="container-button">
        <a href="">
            <button>Editar</button>
        </a>
    </div>
    <div class="container-button">
        <a href="">
            <button>Apagar conta</button>
        </a>
    </div>
</main>