@model List<icart_be.Models.Produtos>
@{
    ViewData["Title"] = "Informações adicionais";
}
<head>
    <link rel="stylesheet" href="~/css/infos.css">
    <link rel="stylesheet" href="~/css/index.css">
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<br>
<br>
<br>
<div id="box-texto-mais-vendidos">
    <h1 class="titulo-grande">
        Produtos cadastrados
    </h1>
</div>
<br>
<br>
<br>
<main>
    <div id="lista">
        @foreach (icart_be.Models.Produtos p in Model)
        {
            string formato = "data:image/jpeg;base64," + Convert.ToBase64String(p.Imagem);

        <div class="item">
            <div class="img">
                <img src="@formato" alt="imagem do produto">
            </div>
            <div class="informacoes">
                <p>@p.Nome </p><br>
                <p>qtd. @p.Estoque </p>
            </div>
            <div class="informacoes">
                <p>@Html.ActionLink("Deletar", "Excluir", new { cod = p.Codigo })</p>
            </div>
        </div>
            <hr>
        }
    </div>
</main>
<br>
<br>
<br>
<div id="box-lugares-mais-vendidos">
    <h1 class="titulo-grande">
        Total de vendas
    </h1>
</div>
<br>
<br>
<div id="container-informacoes" style="display: flex; justify-content: center; align-items: center;">
    <h2 id="texto-informacoes">
        @TempData["vendas"]
    </h2>
</div>
<br>
<br>
